html{
    background-color: rgb(244, 144, 160);   
}

.container{
    max-width: 940px;
    /* margin-left: auto;
    margin-right: auto; */
    margin:0 auto;
    padding-right: 15px;
    padding-left: 15px;
    /* margin left and right works only with max width */
}

.headerParaIndent{
    /* display:block;
    box-sizing: border-box; */
    color: #FFF;
    margin-left: 25px;
    margin-right: 15px;
}
body{
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    /* text-align: justify; */
    /* the text align justify creates a newspaper column like arrangement 
    with clean sharp edges and spacing between words of text for the paragraph */
    /* This font-size can be the baseline and the rest of the 
    page can be multipliers of this. For eg: 200% font-size in another element 
    gives twice 17px 
    font-weight:normal;
    font-style:italic; 
    letter-spacing: 4px;
    word-spacing: 10px; (extra 10 pixels between words)
    text-shadow: 2px 10px 0 #999999;
                 horizontal offset (how much to the left of the word) 
                 vertical offset)
                 blur radius (0 means no blur)
                 colour (rgba, like we normally use), can also be used.
    text-transform: uppercase;
    text-decration: underline; (not recommended)
    text-indent:25px;
    line-height; (Can be used in html or body element as a baseline too.)

    can also be used.*/

}

.borederLineSpace header{
    text-align: center;
    background-color: rgb(244, 144, 160);
    color: #FFF;
}


.navigation a {
    margin-top: 20px;
    display:block;
    color: #FFF;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    border: 3px solid  rgb(238, 218, 181);   
    margin-bottom: 0px;
    /* border-bottom:none; */

}

.navigation a:hover {
background-color: rgb(233, 205, 134);
}

.addBorderLine{
/* margin-top: 0px; */
/* border-top: 3px solid  rgb(238, 218, 181); */
border-bottom: 3px solid  rgb(238, 218, 181);
}

a {
    text-decoration: none;
}

/* nav a {
    color: rgb(239, 188, 93);
    text-decoration: none;
} */

/* box-sizing: border-box makes no change in the border. Why? */
/* Both element and class specificity works here. */
/* a is an inline element, i.e; if I add padding to it, the content 
around it can overlap with that padding ( which is more evident 
once you put a border around each of the navigation links. */
/* By default, the browser has display:inline associated with the 
'a' element. We overwrite the default and make the link a block level element. */

.navigation ul{
    /* margin: 0;*/
    padding: 0;
    text-align: center;
    /* try adding borderline top and margin bottom as zero later. */
}
.navigation li{
    list-style: none;
    display:inline-block;
    margin-right: 5px;
     /* float: left; */
}
@media screen and (max-width: 700px) {
    .navigation li{
        width:100%;
        /* If we want 3 links in a row we set the percentage to 33.332%. The percentages 
        should add uo to 100%. */
        /* margin-right: 0px; */
        /* The margin-right doesn't make a difference here. */
    }
    .navigation a{
        padding: 5px 5px;
        margin-bottom: 0px;
        /* I can't reduce the space between the navigation blocks.  */
    }
    .navigation ul{
        padding-left: 170px;
        padding-right: 170px;
    }
}

 /* ul .fixfloatideal {
    padding-left: 0px;
} */
/* text-decoration removes underline */
/* The display in line block used makes the alignment of the 
navigation contents more visually pleasing by default with spacing 
in between etc. 
Whereas float left gives the same but with less spacing between the words.*/
/* The navigation class requires a margi-top if float left instead of 
inline block is used */
/* margin=0 eliminates the space above and below the navigation contents 
which is required when using float left.*/
/* Make padding 0 before text align center. */
/* The float has to be cleared. When the list items are floated, the parent 
element ul is not aware that there is content within. */
@media screen and (min-width: 1300px) {
    .container{
        max-width: 1200px;
        font-size: 17px;
    }
/* Any code in this section will only be executed if 
browser window is 1300px or larger. */
}
.allArticles{
    text-align: center;
    background-color: #FFF;
    padding-top: 20px;
}
article{
    /* display:block; */
    padding-bottom: 30px;
}
/* What will display block do here? Visually no changes observed. */

article header h2{
    color: rgb(248, 188, 77);  
    /* padding-bottom: 0px; */
}

/* article header{
    padding-bottom: 0px;
} */
/* The above commented code is by which I tried to reduce the space between 
h2 and p sentences in the article header but did not get executed. Why? */

h1{
    text-align: center;
    font-weight: normal;
}
p{
    color: black;
}

span {
    color: orange
}
footer p span {
    color: gray
}
article footer p span {
    color: black
}
.highlight {
    background-color: pink;
    text-align: center;
}
article footer .highlight {
    background-color: lightgray;

}
.home{
    margin-top: 0px;
}
 /* .home {
    text-align: center; */
    /* background-color: rgb(237, 206, 210);
    padding: 30px;
    border: 3px solid black;
    margin-bottom: 30px;
    /* width: 300px; */
    /* height : 150px;
    box-sizing: border-box; */ 
       /* } */
    /* Here the box sizing: border box causes the padding and margin pixels to 
    be taken as a part of the box itself. Otherwise the entire box dimension will 
    be the sum of width and height, padding and margin. If we want the text to 
    be centre aligned within the box, as of now what I've learnt is to adjust the 
    padding size relative to the box dimensions after using border box */  
    /* Also, the width is changing according to dimensions we give even when we 
    use border box. But the height cannot be modified wih values once I use 
    border-box. */

/* I used a span inside a footer paragraph just so that 
I couls do <span class="highlight">, i.e because I wanted to use class highlight.
can we not use class alone ? i didn't get an output when I used class alone*/