.age {
margin-bottom: 20px
}
.weight{
margin-bottom: 20px
}
.height{
margin-bottom: 20px
}
.activity{
    margin-bottom: 20px
}
/* There are more textboxes and types, calculate email 
and contact to to be classed and margin-bottomed in this page 
which has to be done later */