
header h1{
    text-align: center;
}

table.nutrient{
    border-spacing: 0;
    border-collapse: collapse;
    width: 50%;
}
table.nutrient th{
    text-align: left;
    background-color: #327432b3;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
}
table.nutrient th,
table td {
    border: 1px solid #327432b3;
    padding: 5px;
    /* vertical-align: top; */
}
/* The above rule targets the entire table */
/* vertical align top won't make a difference here. by default the column 
elements are in the middle. By making it top they move parallel to the upper sentence 
in the column preceding the column to be aligned. It is required when one cell content has 
more than one line of text. */

table.nutrient tbody tr:nth-child(even) td{
    background-color: rgb(160, 191, 160);
}

.colMacro{
width: 60%;
}
.colEnergy{
width: 40%;
}
table.nutrient tr :nth-child(2){
    text-align: center;
}
/* class is created for table in case there are other tables in the webpage */
/* add a comma at the end of the above line and 
write the same line with (3) if there is a third column and so on.*/